<div class="languagepicker">
  <div class="languagepicker-inner">
    <div class="languagepicker-languages">
      <select class="languagepicker-language drawer-item-language" name="languages">
        {{#each _languages}}
          <option value="{{_language}}"{{#if _isSelected}} selected{{/if}}>
            {{{ displayName }}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="languagepicker-roles">
      {{#each _roles}}
        <div class="languagepicker-language drawer-item{{#if _isSelected}} selected{{/if}} {{_role}}{{#equals _direction "rtl"}} dir-rtl{{/equals}}">
          <button class="base drawer-item-open{{#if _isSelected}} role-selected{{/if}}" value="{{_role}}">{{{displayName}}</button>
        </div>
      {{/each}}
    </div>
  </div>
</div>