{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div class="languagepicker-drawer">
    {{{a11y_aria_label _globals._extensions._languagePicker.languageSelector}}}

    <div class="languagepicker-drawer__inner" role="list">

    <div class="languagepicker-drawer__options">
        <div class="languagepicker-drawer__options-icon icon icon-language-1"></div>
        <select class="languagepicker-drawer__options-select" name="languages" id="languagepicker-drawer-languages-select">

        {{#each _languageids}}
            <option value="{{_language}}"{{#if _isSelected}} selected{{/if}}>
                {{{compile displayName}}}
            </option>
        {{/each}}

        </select>
    </div>

    {{#if _roles}}
        <div class="languagepicker-drawer__options">
            <div class="languagepicker-drawer__options-icon icon icon-persons"></div>
            <select class="languagepicker-drawer__options-select" name="roles" id="languagepicker-drawer-roles-select">

            {{#each _roles}}
                <option value="{{_role}}"{{#if _isSelected}} selected{{/if}}>
                    {{{compile displayName}}}
                </option>
            {{/each}}

            </select>
        </div>
    {{/if}}

    <button class="btn-text languagepicker-drawer__submit-btn js-languagepicker-drawer-btn-click" id={{#if _roles}}"roles-submit"{{else}}"language-submit"{{/if}}>
        {{{compile _submitButtonTitle}}}
    </button>

  </div>

</div>
