<div class="languagepicker__inner">

    {{#if displayTitle}}
        <div class="languagepicker__title">
            <div class="languagepicker__title-inner" role="heading" aria-level="1">
                {{{compile displayTitle}}}
            </div>
        </div>
    {{/if}}

    {{#if body}}
        <div class="languagepicker__body">
            <div class="languagepicker__body-inner">
                {{{compile body}}}
            </div>
        </div>
    {{/if}}

    <div class="languagepicker__options">
        <div class="languagepicker__options-icon icon icon-language-1"></div>
        <select class="languagepicker__options-select" name="languages" id="languagepicker-languages-select" required>

        {{#if _languageOptionsPlaceholder}}
            <option value="" class="languagepicker__options-placeholder" disabled selected hidden>
                {{{compile _languageOptionsPlaceholder}}}
            </option>
        {{/if}}
        {{#each _languageids}}
            <option value="{{_language}}"{{#if _isSelected}} selected{{/if}}>
                {{{compile displayName}}}
            </option>
        {{/each}}

        </select>
    </div>

    {{#if _roles}}
        <div class="languagepicker__options">
            <div class="languagepicker__options-icon icon icon-persons"></div>
            <select class="languagepicker__options-select" name="roles" id="languagepicker-roles-select" required>

            {{#if _roleOptionsPlaceholder}}
                <option value="" class="languagepicker__options-placeholder" disabled selected hidden>
                    {{{compile _roleOptionsPlaceholder}}}
                </option>
            {{/if}}
            {{#each _roles}}
                <option value="{{_role}}"{{#if _isSelected}} selected{{/if}}>
                    {{{compile displayName}}}
                </option>
            {{/each}}

            </select>
        </div>
    {{/if}}

    <button class="btn-text languagepicker__submit-btn js-languagepicker-btn-click" id={{#if _roles}}"roles-submit"{{else}}"language-submit"{{/if}}>
        {{{compile _submitButtonTitle}}}
    </button>

</div>
